<h1>
    Auth
</h1>
{{> messagestructure messageSpecs.auth }}

<h1>
    Events
</h1>
{{> messagestructure messageSpecs.event }}

<h1>
    Record
</h1>
{{> messagestructure messageSpecs.record }}

<h1>
    RPC
</h1>
{{> messagestructure messageSpecs.rpc }}

<h1>
    webRTC
</h1>
{{> messagestructure messageSpecs.webrtc }}